* {
  color: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

.black {
  background-color: rgb(28, 28, 28);
}

.logo {
  margin-top: 2%;
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.series {
  padding-top: 2%;
}